.preview {
  border: solid black;
}

.education-item {
  position: relative;
}

.work-item {
  position: relative;
}

.actions {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.education-item:hover  .actions {
  display: block;
}

.work-item:hover  .actions {
  display: block;
}
